@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    font-family: 'JetBrains Mono', monospace;
    --background: #cacaca;
    --text: #363636;
    --header: #b4b4b4;
    --header-dark: #1b1b1b;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48
  }

html, header, button, p {
    transition: background 0.5s, color 0.5s;
}

html, button {
    background: var(--background);
    color: var(--text);
}

html.dark, html.dark button {
    background: var(--text);
    color: var(--background);
}

header {
    background: var(--header);
    position: absolute;
    width: 100vw;
    overflow: hidden;
    top: 0;
    left: 0;
}

html.dark header {
    background: var(--header-dark);
}

button { 
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
}

.switch-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75%;
    font-size: 1.5rem;
    line-height: 1rem;
}

main {
    position: absolute;
    top: 6.5rem;
    width: 100%;
}

#tab-container {
    display: flex;
    justify-content: center;
}

.tab-switch {
    font-size: 1.75rem;
    margin-left: 0.75%;
}