@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 650,
    'GRAD' 0,
    'opsz' 48
  }

:root {
    --bg-light: #ddd;
    --text-light: #3d3d3d;
    --header-light: #c6c6c6;
    --header-dark: #2c2c2c;
}

* {
    font-family: 'Rubik', sans-serif;
}

html {
    background: var(--bg-light);
    color: var(--text-light);
    font-size: 1.25rem;
    width: 100vw;
    overflow-x: hidden;
}

.dark {
    background: var(--text-light);
    color: var(--bg-light);
    font-size: 1.25rem;
    transition: background 0.5s, color 0.5s;
}

header {
    background: var(--header-light);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.dark header {
    background: var(--header-dark);
}

.dark button {
    background: var(--text-light);
    color: var(--bg-light);
}

#theme-buttons > * {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 1%;
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: absolute;
    top: 10%;
    width: 100%;
}

#tab-buttons {
    display: flex;
    justify-content: center;
}

#tab-buttons * {
    font-size: 1.75rem;
}