body {
    background-color: #292929;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1)
}

h1 {
    color: #ffffff;
}

h2 {
    color: #a888dd;
    border-bottom: 2px solid #c5c5c5;
    padding-bottom: 5px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #0f0f0f;
    font-size: 0.9em;
    color: #e7e7e7;
}

footer a {
    color: #9d73e2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border-bottom: 1px solid #0f0f0f;
    padding: 12px 15px;
    text-align: left;
}

thead th {
    background-color: #2f2f2f;
    color: #ffffff;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #4f4f4f;
}

.button {
    background-color: #9d73e2;
    border: none;
    color: #ffffff;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #654795;
}

.button:active {
    background-color: #2c2c2c;
    transform: translateY(1px);
}

.buttontd {
    background-color: #00000000;
    border: none;
    color: #ffffff;
    font-size: 0.9em;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.feature-item {
    background-color: #2b2b2b;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    flex-basis: 32%;
    text-align: center;
}

.feature-item h3 {
    margin-top: 0;
    font-size: 1.1em;
    color: #ffffff;
}

.feature-item p {
    font-size: 0.95em;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.0em;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #444;
    box-sizing: border-box;
}

.form-group textarea {
    min-height: 120px;
    resize: vertical;
}

.submit-button {
    background-color: #9d73e2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #654795;
}
